@page "/addcar"
@using CarInventory.Models
@using CarInventory.Services
@inject CarService CarService
@inject NavigationManager Nav

<h3>Add New Car</h3>

<EditForm Model="@car" OnValidSubmit="HandleSubmit">
    <InputText class="form-control mb-2" @bind-Value="car.Make" placeholder="Make" />
    <InputText class="form-control mb-2" @bind-Value="car.Model" placeholder="Model" />
    <InputNumber class="form-control mb-2" @bind-Value="car.Year" placeholder="Year"/>
    <InputNumber class="form-control mb-2" @bind-Value="car.Price"placeholder="Price" />
    <DataAnnotationsValidator />
    <ValidationSummary />
    <button class="btn btn-success">Save</button>
</EditForm>
<InputFile OnChange="HandleImageUpload" />
@if (!string.IsNullOrEmpty(imagePreview))
{
    <img src="@imagePreview" style="max-width:200px;" class="mt-3"/>
}

<button class="btn btn-success mt-3">Save</button>
@code {
    Car car = new();
    private IBrowserFile? selectedImage;
    private string? imagePreview;

    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        selectedImage = e.File;
        var buffer = new byte[selectedImage.Size];
        using var stream = selectedImage.OpenReadStream();
        await stream.ReadAsync(buffer);

        var filePath = Path.Combine("wwwroot/images", selectedImage.Name);
        await File.WriteAllBytesAsync(filePath, buffer);

        car.ImageFileName = selectedImage.Name;
        imagePreview = $"images/{selectedImage.Name}";
    }
    void HandleSubmit()
    {
        //if(user == admin)
        CarService.AddCar(car);
        Nav.NavigateTo("/inventory");
    }
}
